$textColor = #2c3e50
$varColor = #d63200
$accentColor = #42b983
$warningColor = #ffe564
$dangerColor = #ff0000

$bgColor = #ffffff
$viceBgColor = #f3f5f7
$codeBgColor = #282c34

$gradientColor = linear-gradient(to bottom right, $accentColor, #2c3e50c7)
